.mainBody {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.664);
}

.header {
    width: 100%;
    
    
}

.aboutUs {
    background-image: url(https://cdn.shopify.com/s/files/1/0525/6226/4243/files/red-and-blues-create-a-marble-effect_1944x.jpg?v=1611513194);
    margin: auto;
    height: 300px;
}

h3 {
    color: rgb(231, 39, 206);
    margin: 5px;
    padding: 10px 10px;
}

#aboutUsText {
    color: white;
    font-size: large;
    margin: 10px;
}

.bySize {
    
}

.bySizeThumbnails {
    display:flex;
    justify-content: space-around;
    margin: 10px;
    
}

.newArrivalsThumbnails {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.card {
    margin: 2px;
}

li {
    float: right;
}

.card {
    width: auto;
}

.navbar {
    position:fixed !important;
    z-index: 1;
    width: 100%;
}

.navbar.ul {
    float:right !important;
}

.shirtImg {
    height: 300px;
   width: 100%;
}

.container {
    display: flex;
}

button {
    height: auto;
    
}

a:hover, button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
}

#newArrivalsHeader {
    display: flex;
}
#viewAllNewArrivals {
   float: right;
}

.newArrivals.container-fluid {
    background-color: rgba(192, 51, 192, 0.562);
}

body {
    background-image: url(https://images.pexels.com/photos/4630891/pexels-photo-4630891.jpeg?cs=srgb&dl=pexels-shelly-still-4630891.jpg&fm=jpg) !important;
}

#lotusImg {
    opacity: .7;
}

.faded {
    background-color: transparent;
    padding:0% !important;
}

.card-img-overlay:hover {
    color:red;
    font-weight: bolder;
    font-size: 20px;
}

.sizes {
    display: flex;
    justify-content: center;
}

.sizes:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
    
}

h5:hover {
    color: red;
}

.faded:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
    
}

.artist:hover {
    border: violet 2px solid;
    box-shadow: 3px 3px 5px 6px violet;
}

.card.bg-dark:hover {
    opacity: .6;
}