.mainBody {
    
    margin: 10px;
}

.header {
    width: 100%;
    
    
}

.aboutUs {
    background-image: url(https://cdn.shopify.com/s/files/1/0525/6226/4243/files/red-and-blues-create-a-marble-effect_1944x.jpg?v=1611513194);
    margin: auto;
    height: 300px;
}

.aboutUs h3 {
    color: red;
    margin: 5px;
}

#aboutUsText {
    color: white;
    font-size: large;
    margin: 10px;
}

.bySize {
    margin: 10px;
    
}

.newArrivals {
    
    margin: 10px;
}

.card {
    margin: 2px;
}

li {
    float: right;
}

.card {
    width: auto;
}

.navbar {
    position:fixed !important;
    z-index: 1;
    width: 100%;
}

.navbar ul {
    float:right !important;
}

.shirtImg {
    height: 300px
}